@namespace Mihaylov.Web.Models.Cluster
@using Mihaylov.Web.Models.Configs
@model AddParserSettingModel

<form action="/Cluster/AddParserSetting" method="post">
    <tr>
        <td>
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Name, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.Name)
        </td>
@*         <td>
            @Html.DropDownListFor(m => m.ApplicationId, Model.Applications, ViewConstants.DefaultDropDownValue)
            @Html.ValidationMessageFor(m => m.ApplicationId)
        </td> *@
        <td>
            @Html.DropDownListFor(m => m.VersionUrlType, Model.UrlTypes, ViewConstants.DefaultDropDownValue)
            @Html.ValidationMessageFor(m => m.VersionUrlType)
        </td>
        <td>
            @Html.TextBoxFor(m => m.VersionSelector, new { aria_autocomplete = "none", autocomplete = "off", @class = "" })
            @Html.ValidationMessageFor(m => m.VersionSelector)
        </td>
        <td>
            @Html.TextBoxFor(m => m.VersionCommand, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.VersionCommand)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ReleaseDateUrlType, Model.UrlTypes, ViewConstants.DefaultDropDownValue)
            @Html.ValidationMessageFor(m => m.ReleaseDateUrlType)
        </td>
        <td>
            @Html.TextBoxFor(m => m.ReleaseDateSelector, new { aria_autocomplete = "none", autocomplete = "off", @class = "" })
            @Html.ValidationMessageFor(m => m.ReleaseDateSelector)
        </td>
        <td>
            @Html.TextBoxFor(m => m.ReleaseDateCommand, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.ReleaseDateCommand)
        </td>
        <td>
            <button type="submit" class="btn btn-success">
                <i class="bi @ViewConstants.NewButton"></i>
            </button>
        </td>
    </tr>
</form>
