@namespace Mihaylov.Web.Models.Cluster
@using Mihaylov.Web.Models.Configs
@model AddApplicationModel

<form action="/Cluster/AddApp" method="post">
    <tr>
        <td>
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Name, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.Name)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td style="display: none;"></td>
        <td>
            @Html.TextBoxFor(m => m.SiteUrl, new { aria_autocomplete = "none", autocomplete = "off", placeholder = "Site Url" })
            @Html.ValidationMessageFor(m => m.SiteUrl)
            @Html.TextBoxFor(m => m.ReleaseUrl, new { aria_autocomplete = "none", autocomplete = "off", placeholder = "Release Url" })
            @Html.ValidationMessageFor(m => m.ReleaseUrl)
            @Html.TextBoxFor(m => m.ResourceUrl, new { aria_autocomplete = "none", autocomplete = "off", placeholder = "Resource Url" })
            @Html.ValidationMessageFor(m => m.ResourceUrl)
            @Html.TextBoxFor(m => m.GithubVersionUrl, new { aria_autocomplete = "none", autocomplete = "off", placeholder = "Github Version Url" })
            @Html.ValidationMessageFor(m => m.GithubVersionUrl)
        </td>
        <td>
            @Html.DropDownListFor(m => m.Deployment, Model.DeploymentTypes)
            @Html.ValidationMessageFor(m => m.Deployment)
        </td>
        <td></td>
        <td></td>
        <td>
            @Html.TextBoxFor(m => m.Notes, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.Notes)
        </td>
        <td>
            <button type="submit" class="btn btn-success">
                <i class="bi @ViewConstants.NewButton"></i>
            </button>
        </td>
    </tr>
</form>
