@namespace Mihaylov.Web.Models.Cluster
@using Mihaylov.Web.Models.Configs
@model AddAdditionalModel

<form action="/Cluster/AddAdditional" method="post">
    <tr>
        <td></td>
        <td>
            @Html.DropDownListFor(m => m.ApplicationId, Model.Applications, ViewConstants.DefaultDropDownValue)
            @Html.ValidationMessageFor(m => m.ApplicationId)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="display: none;"></td>
        <td>
            @Html.TextBoxFor(m => m.File, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.File)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Pod, new { aria_autocomplete = "none", autocomplete = "off", @class = "short-width" })
            @Html.ValidationMessageFor(m => m.Pod)
        </td>
        <td></td>
        <td>
            <button type="submit" class="btn btn-success">
                <i class="bi @ViewConstants.NewButton"></i>
            </button>
        </td>
    </tr>
</form>