@using Mihaylov.Web.ViewModels.Site
@using Mihaylov.Common.Extensions;
@model PersonGridModel

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.LabelFor(m => m.Persons.First().Username)</th>
            <th>@Html.LabelFor(m => m.Persons.First().Age)</th>
            <th>@Html.LabelFor(m => m.Persons.First().Country)</th>
            <th>@Html.LabelFor(m => m.Persons.First().AskDate)</th>
            <th>@Html.LabelFor(m => m.Persons.First().AnswerType)</th>
            <th>@Html.LabelFor(m => m.Persons.First().Answer)</th>
            <th>@Html.LabelFor(m => m.Persons.First().Comments)</th>
            <th>@Html.LabelFor(m => m.Persons.First().IsAccountDisabled)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>@Html.MyValueFor(m => person.Username)</td>
                <td>@Html.MyValueFor(m => person.Age)</td>
                <td>@Html.MyValueFor(m => person.Country)</td>
                <td>@Html.MyValueFor(m => person.AskDate, null, person.AskDate.ConvertToString("dd.MM.yyyy HH:mm"))</td>
                <td>@Html.MyValueFor(m => person.AnswerType)</td>
                <td>
                    @if (person.Answer.HasValue)
                    {
                        @Html.MyValueFor(m => person.AnswerDisplay)
                    }
                </td>
                <td>@Html.MyValueFor(m => person.Comments)</td>
                <td>
                    @Html.MyValueFor(m => person.IsAccountDisabled, null, (person.IsAccountDisabled ? "Yes" : "No") + " / " + person.UpdatedDate.ConvertToString("dd.MM.yyyy"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="statictics">
            <td colspan="8">
                @foreach (var countPair in Model.Statistics.CountDictionaryResult)
                {
                    <span style="padding: 5px">
                        <strong>@countPair.Key:</strong> @countPair.Value
                    </span>
                }
            </td>
        </tr>
    </tfoot>
</table>
