
@using Mihaylov.Web.ViewModels.Site;
@using Mihaylov.Web.Common.Extensions;
@using Mihaylov.Common.Extensions;
@model PersonExtended

@using (Html.BeginForm("Save", "Site", FormMethod.Post, new { }))
{
    <div class="row">
        @Html.HiddenFor(m => m.Id)

        <div class="panel">
            @*class="panel"*@
            @*<div class="panel-heading">
                    <div class="panel-title">
                        <strong>User</strong>
                    </div>
                </div>*@
            <div>
                @*class="panel-body"*@
                <div>
                    <div class="col-sm-4">
                        @Html.MyDisplayFor(m => m.Username)
                        @Html.HiddenFor(m => m.Username)

                        @Html.MyDisplayFor(m => m.Age)
                        @Html.HiddenFor(m => m.Age)

                        @Html.MyDisplayFor(m => m.Country)
                        @Html.HiddenFor(m => m.CountryId)
                        @Html.HiddenFor(m => m.Country)
                    </div>
                    <div class="col-sm-4">
                        @Html.MyDisplayFor(m => m.Ethnicity)
                        @Html.HiddenFor(m => m.Ethnicity)
                        @Html.HiddenFor(m => m.EthnicityId)

                        @Html.MyDisplayFor(m => m.Orientation)
                        @Html.HiddenFor(m => m.Orientation)
                        @Html.HiddenFor(m => m.OrientationId)

                        @Html.MyDisplayFor(m => m.AskDate, null, null, Model.AskDate.ConvertToString())
                        @Html.HiddenFor(m => m.AskDate)
                    </div>
                    <div class="col-sm-4">
                        @Html.MyDisplayFor(m => m.CreateDate, null, null, Model.CreateDate.ConvertToString("dd.MM.yyyy"))
                        @Html.HiddenFor(m => m.CreateDate)

                        @Html.MyDisplayFor(m => m.LastBroadcastDate, null, null, Model.LastBroadcastDate.ConvertToString("dd.MM.yyyy"))
                        @Html.HiddenFor(m => m.LastBroadcastDate)

                        @Html.MyDisplayFor(m => m.IsAccountDisabled, null, null, (Model.IsAccountDisabled ? "Yes" : "No") + " / " + Model.UpdatedDate.ConvertToString("dd.MM.yyyy"))
                        @Html.HiddenFor(m => m.IsAccountDisabled)
                    </div>
                </div>

                <div>
                    <div class="col-sm-4">
                        @if (Model.Answer.HasValue)
                        {
                            @Html.MyDisplayFor(m => m.AnswerType)
                        }
                        else
                        {
                            @Html.LabelFor(m => m.AnswerTypeId)
                            @Html.DropDownListFor(m => m.AnswerTypeId, Model.AnswerTypes.GetDropdownListItems(u => u.Id, u => u.Description), "-- Not Selected --")
                        }
                    </div>
                    <div class="col-sm-4">
                        @if (Model.Answer.HasValue)
                        {
                            @Html.MyDisplayFor(m => m.Answer, null, Model.AnswerUnit, null)
                        }
                        else
                        {
                            @Html.LabelFor(m => m.Answer)
                            @Html.TextBoxFor(m => m.Answer, new { style = "width:70px" })
                            @Html.DropDownListFor(m => m.AnswerUnitId, Model.AnswerUnits.GetDropdownListItems(u => u.Id, u => u.Description), "-- Not Selected --")
                        }
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(m => m.Comments)
                        @Html.TextBoxFor(m => m.Comments, new { style = "width:200px" })
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Save</button>

    </div>
}