@using Mihaylov.Data.Models.Repositories
@model PersonStatistics

<div class="person-details-container">
    <div class="search">
        @Html.TextBox("url", null, new { style = "width:350px" })
        <span class="btn btn-default find-info">Find</span>
    </div>

    <div id="person-info"></div>

    <div class="statictics">
        @foreach (var countPair in Model.CountDictionaryResult)
        {
            <span style="padding: 5px">
                @string.Format("{0}: {1}", countPair.Key, countPair.Value)
            </span>
        }
    </div>
</div>

@section scripts{
    @* @Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/siteTab")
}