@*@using Mihaylov.Web.ViewModels.Dictionaries

@model RecordViewModel

@using (Html.BeginForm("Save", "Dictionaries", FormMethod.Post, new { }))
{
    <div class="row">
        <div class="panel">
            @Html.HiddenFor(x => x.CourseId)

            <div>
                @Html.LabelFor(x => x.Original)
                @Html.EditorFor(x => x.Original)
                @Html.ValidationMessageFor(x => x.Original)

                @Html.LabelFor(x => x.Translation)
                @Html.EditorFor(x => x.Translation)
                @Html.ValidationMessageFor(x => x.Translation)

                @Html.LabelFor(x => x.Comment)
                @Html.EditorFor(x => x.Comment)
                @Html.ValidationMessageFor(x => x.Comment)
            </div>
            <div>
                @Html.LabelFor(x => x.ModuleNumber)
                @Html.EditorFor(x => x.ModuleNumber)
                @Html.ValidationMessageFor(x => x.ModuleNumber)

                @Html.EditorFor(x => x.RecordTypes)
                @Html.ValidationMessageFor(x => x.RecordTypes)
            </div>
        </div>

        <button type="submit" class="btn btn-default">Save</button>
    </div>
}
*@