@using Mihaylov.Api.Other.Client
@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Concerts;
@model CountryExtendedGrid

<div class="col-md-6 country-grid">
    <h5>Държави - @Model.Pager.Count</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.Data.First().Name)</th>
                <th>@Html.LabelFor(m => m.Data.First().Code)</th>
                <th>@Html.LabelFor(m => m.Data.First().BandCount)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.Data)
            {
                <tr>
                    <td><my-value>@country.Name</my-value></td>
                    <td><my-value>@country.Code</my-value></td>
                    <td><my-value>@country.BandCount</my-value></td>
                    <td>
                        <span class="btn btn-sm btn-secondary edit-country-btn" data-id="@country.Id" data-name="@country.Name" data-code="@country.Code">
                            Редактирай
                        </span>
                    </td>
                </tr>
            }

            <form action="/Concert/Country" method="post">
            <tr>
                <td>
                    <input type="hidden" id="country-id-input" name="Id" value="" />
                    <input type="text" id="new-country-name-input" name="Name" placeholder="Добави нов" role="presentation" aria-autocomplete="none" autocomplete="false" />
                    @Html.ValidationMessage("Name")
                    <input type="text" id="new-country-code-input" name="Code" placeholder="Добави код" role="presentation" aria-autocomplete="none" autocomplete="false" />
                    @Html.ValidationMessage("Name")
                </td>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Добави" />
                    <span class="btn btn-secondary country-cancel-btn">Отказ</span>
                </td>
            </tr>
            </form>
        </tbody>
    </table>

    @await Html.PartialAsync("_Pager", new PagerExtended(Model.Pager, ConcertController.COUNTRIES_TAB))
</div>
