@using Mihaylov.Api.Other.Client
@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Concerts;
@model LocationGrid

<div class="col-md-6 location-grid">
    <h5>Зали - @Model.Pager.Count</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.Data.First().Name)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model.Data)
            {
                <tr>
                    <td><my-value>@location.Name</my-value></td>
                    <td>
                        <span class="btn btn-sm btn-secondary edit-location-btn" data-id="@location.Id" data-name="@location.Name">
                            Редактирай
                        </span>
                    </td>
                </tr>
            }

            <form action="/Concert/Location" method="post">
            <tr>
                <td>
                    <input type="hidden" id="location-id-input" name="Id" value="" />
                    <input type="text" id="new-location-input" name="Name" placeholder="Добави нов" role="presentation" aria-autocomplete="none" autocomplete="false" />
                    @Html.ValidationMessage("Name")
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Добави" />
                    <span class="btn btn-secondary location-cancel-btn">Отказ</span>
                </td>
            </tr>
            </form>
        </tbody>
    </table>

    @await Html.PartialAsync("_Pager", new PagerExtended(Model.Pager, ConcertController.LOCATIONS_TAB))
</div>
