@using Mihaylov.Api.Other.Client
@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Concerts;
@model TicketProviderGrid

<div class="col-md-6 provider-grid">
    <h5>Билети - @Model.Pager.Count</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.Data.First().Name)</th>
                <th>@Html.LabelFor(m => m.Data.First().Url)</th>
                <th></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tp in Model.Data)
            {
                <tr>
                    <td><my-value>@tp.Name</my-value></td>
                    <td><my-value>@tp.Url</my-value></td>
                    <td>
                        @if (tp.IsActive)
                        {
                            <span style="color:green">
                                <i class="bi bi-check-circle-fill"></i>
                            </span>
                        }
                    </td>
                    <td>
                        <span class="btn btn-sm btn-secondary edit-provider-btn" data-id="@tp.Id" data-name="@tp.Name" data-url="@tp.Url" data-active="@(tp.IsActive.ToString().ToLowerInvariant())">
                            Редактирай
                        </span>
                    </td>
                </tr>
            }
            <form action="/Concert/TicketProvider" method="post">
            <tr>
                <td>
                    <input type="hidden" id="provider-id-input" name="Id" value="" />
                    <input type="text" id="new-provider-name-input" name="Name" placeholder="Добави нов" role="presentation" aria-autocomplete="none" autocomplete="false" />
                    @Html.ValidationMessage("Name")
                </td>
                <td>
                    <input type="text" id="new-provider-url-input" name="Url" placeholder="Добави Url" role="presentation" aria-autocomplete="none" autocomplete="false" />
                    @Html.ValidationMessage("Url")
                </td>
                <td class="custom-control custom-checkbox">
                    <input type="checkbox" name="IsActive" class="form-check-input checkbox-lg custom-control-input provider-field-active" id="new-provider-active-input" value="true">
                    <label class="custom-control-label" for="new-provider-active-input">?</label>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Добави" />
                    <span class="btn btn-secondary provider-cancel-btn">Отказ</span>
                </td>
            </tr>
            </form>
        </tbody>
    </table>

    @await Html.PartialAsync("_Pager", new PagerExtended(Model.Pager, ConcertController.PROVIDERS_TAB))
</div>