@using Mihaylov.Web.Models.Configs
@using Mihaylov.Web.Models.Site
@model AccountsExtended

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>@Html.NameFor(m => m.Accounts.First().Username)</th>
            <th>@Html.NameFor(m => m.Accounts.First().DisplayName)</th>
            <th>@Html.NameFor(m => m.Accounts.First().Status)</th>
            <th>@Html.NameFor(m => m.Accounts.First().AskDate)</th>
            <th>@Html.NameFor(m => m.Accounts.First().CreateDate)</th>
            <th>LastOnline</th>
            <th>Reconciled</th>
            <th>@Html.NameFor(m => m.Accounts.First().Details)</th>
            <th>
                @if (Model.PersonId > 0)
                {
                    <span class="btn btn-success edit-account-button" data-id="" data-personid="@Model.PersonId">
                        <i class="bi @ViewConstants.NewButton"></i>
                    </span>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.AccountType</td>
                <td>@account.Username</td>
                <td>@account.DisplayName</td>
                <td>@account.Status</td>
                <td>@account.AskDate.ToString(ViewConstants.DateFormatSimple)</td>
                <td>
                    @{
                        string age = string.Empty;
                        if (account.CreateDate.HasValue)
                        {
                            var date = account.CreateDate.Value.ToString(ViewConstants.DateFormatSimple);
                            if(account.StatusId != 3)
                            {
                                age = $"({date}) {account.Age}";
                            }
                            else
                            {
                                age = date;   
                            }
                        }
                    }
                    @age
                </td>
                <td>@account.LastOnlineDate?.ToString(ViewConstants.DateFormatSimple)</td>
                <td>@account.ReconciledDate?.ToString(ViewConstants.DateFormatSimple)</td>
                <td>@account.Details</td>
                <td>
                    @if (account.Id > 0)
                    {
                        <span class="btn btn-secondary edit-account-button" data-id="@account.Id" data-personid="@account.PersonId">
                            <i class="bi @ViewConstants.EditButton"></i>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>