@using Mihaylov.Web.Helpers
@using Mihaylov.Web.Models.Site
@model PersonExtended

@{
    var ethnicities = Model.Ethnicities.GetDropdownListItems(u => u.Id, u => u.Name);
    var orientations = Model.Orientations.GetDropdownListItems(u => u.Id, u => u.Name);
    var countries = Model.Countries.GetDropdownListItems(u => u.Id, u => u.Name);
    var states = Model.CountryStates.GetDropdownListItems(u => u.Id, u => u.Name);
}

@using (Html.BeginForm("Save", "Site", FormMethod.Post, new { @class = "form" }))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <div class="form-row">
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Detais.FirstName)
                @Html.TextBoxFor(m => m.Detais.FirstName, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Detais.MiddleName)
                @Html.TextBoxFor(m => m.Detais.MiddleName, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Detais.LastName)
                @Html.TextBoxFor(m => m.Detais.LastName, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Detais.OtherNames)
                @Html.TextBoxFor(m => m.Detais.OtherNames, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.EthnicityId, "Ethnicity")
                @Html.DropDownListFor(m => m.EthnicityId, ethnicities, ViewConstants.DefaultValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.OrientationId, "Orientation")
                @Html.DropDownListFor(m => m.OrientationId, orientations, ViewConstants.DefaultValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Age)
                @Html.TextBoxFor(m => m.Age, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.CountryId, "Country")
                @Html.DropDownListFor(m => m.CountryId, countries, ViewConstants.DefaultValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Location.CountryStateId, "State")
                @Html.DropDownListFor(m => m.Location.CountryStateId, states, ViewConstants.DefaultValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Location.Region)
                @Html.TextBoxFor(m => m.Location.Region, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Location.City)
                @Html.TextBoxFor(m => m.Location.City, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => m.Location.Details)
                @Html.TextBoxFor(m => m.Location.Details, new { @class = ViewConstants.EdithorClass })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Comments)
                @Html.TextBoxFor(m => m.Comments, new { @class = ViewConstants.EdithorClass })
            </div>
            <div class="form-group col-md-3">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="submit-btn btn btn-primary">Save</button>
            </div>
        </div>
    </fieldset>
}

<hr />
@await Html.PartialAsync("_AccountsGrid", Model.Accounts)
<hr />
@await Html.PartialAsync("_AnswersGrid", Model.Answers)
<hr />
<div id="answers-info"></div>
<hr />