@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Helpers
@using Mihaylov.Web.Models.Site
@using Mihaylov.Common.Generic.Extensions
@model NewPersonViewModel

@{
    var accountTypes = Model.AccountTypes.GetListItems((t, v) => new SelectListItem(t, v), u => u.Id, u => u.Name);
    var buttonName = Model.IsPreview ? "Preview" : "Save";
}

@using (Html.BeginForm(nameof(SiteController.NewPerson), SiteController.NAME, FormMethod.Post, new { @class = "form" }))
{
    <fieldset>
        <div class="form-row">
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.AccountTypeId, "Type")
                @Html.DropDownListFor(m => Model.AccountTypeId, accountTypes, ViewConstants.DefaultValueShort, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width100 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.AccountName)
                @Html.TextBoxFor(m => Model.AccountName, new { @class = ViewConstants.EdithorClass, aria_autocomplete = "none", autocomplete = "off" })
            </div>
            <div class="form-group col-auto">
                @Html.HiddenFor(m => Model.IsPreview)
                <button type="submit" class="submit-btn btn btn-primary">@buttonName</button>
                <span class="btn btn-danger close-new-person-button">Close</span>
            </div>
        </div>
    </fieldset>
}