@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Configs
@using Mihaylov.Web.Models.Site
@using Mihaylov.Common.Generic.Extensions
@model AnswerExtended

@{
    var questions = Model.Questions.GetListItems((t, v) => new SelectListItem(t, v), u => u.Id, u => u.Value);
    var units = Model.Units.GetListItems((t, v) => new SelectListItem(t, v), u => u.Id, u => u.Name);
    var halfTypes = Model.HalfTypes.GetListItems((t, v) => new SelectListItem(t, v), u => u.Id, u => u.Name);
}

@using (Html.BeginForm(nameof(SiteController.SaveAnswer), SiteController.NAME, FormMethod.Post, new { @class = "form" }))
{
    <fieldset>
        <div class="form-row">
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.AskDate)
                @Html.TextBoxFor(m => Model.AskDate, ViewConstants.DateTimeFormat, new { @class = ViewConstants.EdithorClass })
                @Html.ValidationMessageFor(m => Model.AskDate)
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.QuestionId, "Question")
                @Html.DropDownListFor(m => Model.QuestionId, questions, ViewConstants.DefaultDropDownValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
                @Html.ValidationMessageFor(m => Model.QuestionId)
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.Value)
                @Html.TextBoxFor(m => Model.Value, new { @class = ViewConstants.EdithorClass, aria_autocomplete = "none", autocomplete = "off" })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.UnitId, "Unit")
                @Html.DropDownListFor(m => Model.UnitId, units, ViewConstants.DefaultDropDownValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.HalfTypeId, "Half")
                @Html.DropDownListFor(m => Model.HalfTypeId, halfTypes, ViewConstants.DefaultDropDownValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.Details)
                @Html.TextBoxFor(m => Model.Details, new { @class = ViewConstants.EdithorClass, aria_autocomplete = "none", autocomplete = "off" })
            </div>
            <div class="form-group col-auto">
                @Html.HiddenFor(m => Model.Id)
                @Html.HiddenFor(m => Model.PersonId)
                @Html.ValidationMessageFor(m => Model.PersonId)
                <button type="submit" class="submit-btn btn btn-primary">
                    <i class="bi @ViewConstants.SaveButton"></i>
                </button>
                <span class="btn btn-danger close-answer-button">
                    <i class="bi @ViewConstants.CloseButton"></i>
                </span>
            </div>
        </div>
    </fieldset>
}