@using Mihaylov.Web.Models.Configs
@using Mihaylov.Web.Models.Site
@model AnswersExtended

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.LabelFor(m => m.Answers.First().AskDate)</th>
            <th>@Html.LabelFor(m => m.Answers.First().Question)</th>
            <th>@Html.LabelFor(m => m.Answers.First().Value)</th>
            <th>@Html.LabelFor(m => m.Answers.First().Unit)</th>
            <th>@Html.LabelFor(m => m.Answers.First().HalfType)</th>
            <th>@Html.LabelFor(m => m.Answers.First().Details)</th>
            <th>
                @if (Model.PersonId > 0)
                {
                    <span class="btn btn-success edit-answer-button" data-id="" data-personid="@Model.PersonId">
                        <i class="bi @ViewConstants.NewButton"></i>
                    </span>
                }                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model.Answers)
        {
            <tr>
                <td>@answer.AskDate.ToString(ViewConstants.DateTimeFormatSimple)</td>
                <td>@answer.Question</td>
                <td>@answer.ValueDisplay</td>
                <td>@answer.Unit</td>
                <td>@answer.HalfType</td>
                <td>@answer.Details</td>
                <td>
                    <span class="btn btn-secondary edit-answer-button" data-id="@answer.Id" data-personid="@answer.PersonId">
                        <i class="bi @ViewConstants.EditButton"></i>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
