@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Configs
@using Mihaylov.Web.Models.Site
@using Mihaylov.Common.Generic.Extensions
@model SiteFilterModel

@{
    var accountTypes = Model.AccountTypes.GetListItems((t, v) => new SelectListItem(t, v), u => u.Id, u => u.Name);
    var accountStates = Model.AccountStates.GetListItems((t, v) => new SelectListItem(t, v), u => u.Id, u => u.Name);
}

@using (Html.BeginForm(nameof(SiteController.Search), SiteController.NAME, FormMethod.Post, new { @class = "form search-form" }))
{
    <fieldset>
        <div class="form-row">
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.AccountTypeId, "Type")
                @Html.DropDownListFor(m => Model.AccountTypeId, accountTypes, ViewConstants.DefaultDropDownValueShort, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width120 })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.AccountName)
                @Html.TextBoxFor(m => Model.AccountName, new { @class = ViewConstants.EdithorClass, aria_autocomplete = "none", autocomplete = "off" })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.Name)
                @Html.TextBoxFor(m => Model.Name, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width100, aria_autocomplete = "none", autocomplete = "off" })
            </div>
            <div class="form-group col-auto">
                @Html.LabelFor(m => Model.StatusId, "Status")
                @Html.DropDownListFor(m => Model.StatusId, accountStates, ViewConstants.DefaultDropDownValue, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width200 })
            </div>
            <div class="form-group col-auto">
                @Html.HiddenFor(m => Model.Page)
                <button type="submit" class="submit-btn btn btn-primary">
                    <i class="bi @ViewConstants.SearchButton"></i>
                </button>
            </div>
            <div class="form-group col-auto">
                <span class="btn btn-success add-new-person-search-button">
                    <i class="bi @ViewConstants.NewButton"></i>
                </span>
            </div>
            <div class="form-group col-auto">
                <span class="btn btn-secondary merge-action-button merge-base-button">
                    <i class="bi @ViewConstants.MergeButton"></i>
                </span>
                <span class="btn btn-secondary clear-merge-person-button merge-base-button">
                    <i class="bi @ViewConstants.MergeClearButton"></i>
                </span>
            </div>
        </div>
    </fieldset>
}
